.sidenav-container {
  height:96vh;
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  padding: 16px;
}

.main-content {
  padding: 16px;
}

.menu-right{
  justify-content: flex-end;
  padding: 0px;
  align-items: normal;
}

