.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 50px;
}

.custom-button {
  height: 50px;
  width: 30%;
  margin-bottom: 10px;
}
